@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the appointment planning application</h1>

<h2>Hier könnte Ihre Werbung stehen</h2>

<div>
    <div id="cont_66bd51cabfd14abe0f80b551678ec9e3">
        <script type="text/javascript" async src="https://www.daswetter.com/wid_loader/66bd51cabfd14abe0f80b551678ec9e3"></script>
    </div>
</div>