
@{
    ViewData["Title"] = "Startseite";
}
<div>
    <h2>Startseite</h2>
</div>
<div>
    <p>Herzlich Willkommen auf der Startseite des Besprechungsplanungs Tools des ############ Amt</p>
</div>
<div>

</div>


